@import url('custom.css');

/* início navbar responsive tablets*/
@media (max-width: 1024px) {

    .menu-left,
    .menu-right,
    .btn-menu-right,
    .rodape-left {
        display: none;
    }

    .menu-reponsive {
        display: flex;
        flex-direction: column;
        width: 50%;
        position: absolute;
        padding-top: 50px;
        top: 50px;
        right: -50%;
        text-align: center;
        background: var(--secundary-color);
        transition: 0.6s ease-in-out;
        height: 70px;
        visibility: hidden;
        overflow-y: hidden;
    }

    .active .menu-reponsive {
        right: 0;
        align-items: center;
        text-align: center;
        height: calc(45vh - 70px);
        visibility: visible;
    }

    .primmary-menu {
        margin-bottom: 20px;
    }

    .primmary-menu li {
        list-style: nome;
        cursor: pointer;
        padding-top: 0px;
        display: block;
        color: var(--light-color);
        font-weight: 600;
    }

    .secundary-manu {
        margin-bottom: 20px;
    }

    .secundary-manu li {
        list-style: nome;
        cursor: pointer;
        padding-top: 0px;
        display: block;
        color: var(--light-color);
        font-weight: 600;
    }

    .btn-menu-responsive {
        text-transform: uppercase;
        font-weight: 600;
        background-color: transparent;
        color: var(--light-color);
        padding: 0.5em 2em;
        border-style: solid;
        border-color: var(--light-color);
        border-radius: 25px;
    }



    #btn-mobile {
        display: flex;
        align-self: center;
        margin-right: 50px;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        color: var(--light-color);
    }

    #hamburger {
        z-index: 1000;
        border-top: 3px solid;
        width: 50px;
    }

    #hamburger::after {
        content: '';
        display: block;
        height: 3px;
        background: var(--light-color);
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #hamburger::before {
        content: '';
        display: block;
        height: 3px;
        background: var(--light-color);
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    .navbar.active #hamburger {
        border-top-color: transparent;
    }

    .navbar.active #hamburger::before {
        transform: rotate(135deg);
    }

    .navbar.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* fim navbar responsive tablets */

/* iníncio card responsive tablets */
@media (max-width: 1024px) {

    .card-corretor,
    .card-form,
    .card-regra3,
    .card-show-image,
    .card-download-image,
    .card-image {
        width: calc(45% - 20px);
        margin: 100px auto auto auto;
    }
}
/* início footer responsive tablets */

@media (max-width: 1024px) {

    .rodape-left{
        display: none;
    }
    .rodape-right {
        margin: auto;
    }
}
/* fim footer responsive tablets */

/* inicio navbar responsive smartphones */

@media (max-width: 600px) {

    .menu-reponsive {
        display: flex;
        flex-direction: column;
        width: 50%;
        position: absolute;
        padding-top: 50px;
        top: 50px;
        right: -50%;
        text-align: center;
        background: var(--secundary-color);
        transition: 0.6s ease-in-out;
        height: 70px;
        visibility: hidden;
        overflow-y: hidden;
    }

    .active .menu-reponsive {
        right: 0;
        align-items: center;
        text-align: center;
        height: calc(45vh - 70px);
        visibility: visible;
    }
}

/* fim do navbar responsive smartphones */

/* início cards responsive smartphones */

@media (max-width: 600px) {

    .card-corretor {
        width: 90%;
        margin: 100px auto 50px auto;
    }

    .card-form,
    .card-regra3 {
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }

    .card-show-image, .card-download-image,
    .card-image{
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }
}

/* início footer responsive tablets */

@media (max-width: 600px) {


    .rodape-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: auto;
        gap: 10px;
    }

    .rodape-right span{
        font-size: 10px;
        margin-left: 20px;
    }

    .rodape-right a img{
        width: 80%;
    }
    
}
/* fim footer responsive tablets */